.ds {
  background-color: #1a1a1a;
  color: #a0a0a0;
}

.section_padding_70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section_padding_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home a.logo img,
footer a.logo img {
  max-width: 100%;
}

a.logo.logo_image {
  width: 215px;
  height: 88px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a.logo {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.ds a {
  color: #e0006c;
}

.bottommargin_10 {
  margin-bottom: 10px;
}

.widget_text p {
  line-height: 21px;
  margin-bottom: 15px;
  font-size: 18px;
}

.page_footer .widget-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 100;
  word-break: break-word;
}

.bottommargin_0 {
  margin-bottom: 0 !important;
}

ul.list2 li {
  position: relative;
  padding: 5px 0;
}

.ds ul.list2 li:before {
  background-color: #ffffff;
}

ul.list2 li:before {
  background-color: #1a1a1a;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  /* left: -18px;
  top: 14px; */
  left: -17px;
  top: 16px;
}

.footer_lists ul,
.footer_lists-div ul {
  padding-left: 20px;
}

.footer_lists ul li a,
.footer_lists-div ul li a {
  font-size: 18px;
  text-decoration: none;
}

.bottommargin_5 {
  margin-bottom: 5px;
}

.topmargin_5 {
  margin-top: 5px;
}

.page_copyright p {
  margin: 0;
}

.page_copyright p {
  line-height: 20px;
  color: #818181;
}

.page-wrapper .scrollTopBtn.btn {
  width: 60px;
  height: 40px;
  border-radius: 1px !important;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 111;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
  background: #e0006c;
  border: 3px solid #e0006c;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  transform: scale(0);
}

.page-wrapper .scrollTopBtn.btn i {
  font-size: 20px;
  color: #fff;
  /* animation: scroll_amini linear 2s infinite alternate;
  -webkit-animation: scroll_amini linear 2s infinite alternate; */
  position: absolute;
  left: 35%;
  bottom: 7px;
  /* transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); */
}

.page-wrapper .scrollTopBtn.btn:hover {
  bottom: 3px;
  opacity: 1;
}

.page-wrapper .scrollTopBtn.btn.show {
  transform: scale(1) !important;
}

/* @keyframes scroll_amini {
  from {
    bottom: 15px;
  }

  to {
    bottom: 7px;
  }
} */