@media (min-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 1199px) {

  .main-menu .main-menu__list>li+li,
  .stricky-header .main-menu__list>li+li {
    margin-left: 16px !important;
  }
}

@media (min-width: 991px) {
  .main-menu .mobile-nav__toggler {
    display: none;
  }

  .main-menu .main-menu__list,
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .hero-wrap.style2 {
    margin-top: 71px;
  }
}

@media only screen and (max-width: 767px) {
  .pt-100 {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper {
    overflow-x: hidden !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pt-100 {
    padding-top: 70px;
  }
}

@media (max-width: 500px) {

  .input-w input {
    width: 100% !important;
  }

  .home-slect .home-form-control {
    padding: 0 1px !important;
  }
}