@media (min-width: 1200px) {
  .main-menu .mobile-nav__toggler {
    display: none;
  }

  .main-menu .main-menu__list,
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1024px) {
  .offcanvas.offcanvas-start {
    width: 300px !important;
  }
}

@media (max-width: 767px) {
  .hero-wrap.style2 {
    margin-top: 71px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 500px) {}